# Vite dev server
ALLOWED_HOSTS=""

# Traefik
SONGSHARE_HOST=""
# SONGSHARE_HEALTH_HOST="" # Defaults to health.${SONGSHARE_HOST}
TRAEFIK_CERTRESOLVER=""
TRAEFIK_ENTRYPOINTS="websecure"
TRAEFIK_NETWORK_NAME="traefik"

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# Spotify
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
